
<div [ngClass]= "names1" *ngIf = "start">
    <form *ngIf = "player1" class="player1">
        <mat-form-field>
            <mat-label>Player 1 name (X)</mat-label>
            <input [(ngModel)]= "username1" type="text" matInput placeholder="name" [ngModelOptions]="{standalone: true}" class = "input1">
        </mat-form-field>
    </form>
    <button mat-button (click) = "next()" class="close" *ngIf = "player1">Next</button>

    <form *ngIf = "player2" class="player1">
        <mat-form-field>
            <mat-label>Player 2 name (O)</mat-label>
            <input [(ngModel)]= "username2" type="text" matInput placeholder="name" [ngModelOptions]="{standalone: true}" class = "input2">
        </mat-form-field>
        <button mat-button mat-dialog-close (click) = "play()" class="close2">Start</button>
    </form>
    <p class="note" *ngIf = fill>*Please enter your name</p>
</div>


<div *ngIf = "!start">
    <h1>TicTacToe <span class="type">Multi player</span></h1>
    <div class="box">
        <h3 class="head">{{chance}}</h3>
        <button (click) = "btn1()" [ngClass] = "btn_style1" [disabled] = "Over">{{block1}}</button>
        <button (click) = "btn2()" [ngClass] = "btn_style2" [disabled] = "Over">{{block2}}</button>
        <button (click) = "btn3()" [ngClass] = "btn_style3" [disabled] = "Over">{{block3}}</button>
        <br>
        <button (click) = "btn4()" [ngClass] = "btn_style4" [disabled] = "Over">{{block4}}</button>
        <button (click) = "btn5()" [ngClass] = "btn_style5" [disabled] = "Over">{{block5}}</button>
        <button (click) = "btn6()" [ngClass] = "btn_style6" [disabled] = "Over">{{block6}}</button>
        <br>
        <button (click) = "btn7()" [ngClass] = "btn_style7" [disabled] = "Over">{{block7}}</button>
        <button (click) = "btn8()" [ngClass] = "btn_style8" [disabled] = "Over">{{block8}}</button>
        <button (click) = "btn9()" [ngClass] = "btn_style9" [disabled] = "Over">{{block9}}</button>
        <h3 class="result">{{winner}}</h3>
        <button *ngIf = "Restart" class="restart" (click) = "new_game()">
            Start new game
        </button>
    </div>
</div>
